html, body {
    height: 100%;
}

body
{
    font-family: 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Geneva, Verdana, sans-serif;
    font-size: 14px;

    margin: 0;
    padding: 0;
}

body *
{
    box-sizing: border-box;
}